textarea.form-control.mb-5 {
    box-sizing: border-box;
    /* position: absolute; */
    width: 409px;
    height: 122px;
    left: 108px;
    top: 573px;
    background: #FFFFFF;
    border: 1px solid #292F33;
    border-radius: 10px;
}
.Auth-form-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
}
form.Auth-form {
    /* position: absolute; */
    width: 592px;
    /* height: 910px; */
    /* left: 84px; */
    /* top: 376px; */
    background: #71D88E;
    /* border-radius: 10px; */
}