p.hero {
    /* padding-left: 365px; */
    /* padding-bottom: 15px; */
    /* padding-top: 15px; */
    font-family: ui-monospace;
    text-align: center !important;
    font-size: 35px;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-red {
    background-color: #70757ab3 !important;
}
a.logout.nav-link {
    padding-right: 37px;
    
}
/* .imgrr {
   width: 100%;
} */

    button.s {
        padding-top: 58px;
    }
   
   .Addgrobut{
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;

    /* margin-left: -500px;s */
   }
  .logoMicro{
    margin-left: 74px;
  }
  p.hero {
    /* padding-left: 365px; */
    /* padding-bottom: 15px; */
    padding-top: 15px;
 
    width: 500px;
    font-family: ui-monospace;
    text-align: center !important;
    font-size: 35px;
}